@import "tailwindcss";
@font-face {
  font-family: "MyFont";
  src: url("/fonts/Arista-Pro-Light-trial.ttf") format("truetype");
}
html {
  scroll-behavior: smooth;
}

.bg-landing {
  background-image: url('/house img.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.property-button{
background-color: #FF7315;
}
.property-button:hover{
background-color: #3f1b02;

}